<p id="notice"><%= notice %></p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>First name: </strong></span>
  <span class="col offset-1 offset-sm-0"> <%= @address.first_name %></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>Last name: </strong></span>
  <span class="col offset-1 offset-sm-0"> <%= @address.last_name %></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>Line 1: </strong></span>
  <span class="col offset-1 offset-sm-0"> <%= @address.line_1 %></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>Line 2: </strong></span>
  <span class="col offset-1 offset-sm-0"> <%= @address.line_2 %></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>City: </strong></span>
  <span class="col offset-1 offset-sm-0"> <%= @address.city %></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>State: </strong></span>
  <span class="col offset-1 offset-sm-0"> <%= @address.state %></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>Zip code: </strong></span>
  <span class="col offset-1 offset-sm-0"> <%= @address.zip_code %></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>Country: </strong></span>
  <span class="col offset-1 offset-sm-0"> <%= @address.country %></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>Birthday: </strong></span>
  <span class="col offset-1 offset-sm-0"> <%= @address.birthday %></span>
</p>

<p class="row no-gutters">
  <span class="col-3 col-md-2"><strong>Note: </strong></span>
  <span class="col offset-1 offset-sm-0"><%= @address.note %></span>
</p>

<div class="row justify-content-center">
  <%= link_to 'Edit', edit_address_path(@address), data: {test: 'edit'} %>
  &nbsp; | &nbsp;
  <%= link_to 'List', addresses_path, data: {test: 'list'} %>
</div>